<p></p>
<div>
  <!-- #1 -->
  <h3 id="q1"></h3>
  <!-- Question -->
  <p>
    <small><i>(<span id="ct1"></span> answers)</i></small>
  </p>
  <div class="col">&nbsp;</div>
  <div class="col-10" style="width: 250px; height: 250px">
    <canvas id="r1"></canvas>
    <!-- Responses to Q1  -->
  </div>
  <div class="col">&nbsp;</div>
</div>

<div>
  <!-- #2 -->
  <h3 id="q2"></h3>
  <!-- Question -->
  <p>
    <small><i>(<span id="ct2"></span> answers)</i></small>
  </p>
  <div class="col">&nbsp;</div>
  <div class="col-10" style="width: 250px; height: 250px">
    <canvas id="r2"></canvas>
    <!-- Responses to Q2  -->
  </div>
  <div class="col">&nbsp;</div>
</div>

<div>
  <!-- #3 -->
  <h3 id="q3"></h3>
  <!-- Question -->
  <p>
    <small><i>(<span id="ct3"></span> answers)</i></small>
  </p>
  <div class="col"></div>
  <div class="col-10 table-wrapper-scroll-y my-custom-scrollbar">
    <table id="r3" class="table table-bordered table-striped mb-0"></table>
    <!-- Responses to Q3  -->
  </div>
  <div class="col">&nbsp;</div>
</div>

<div>
  <h3 id="q4"></h3>
  <!-- Question -->
  <p>
    <small><i>(<span id="ct4"></span> answers)</i></small>
  </p>
  <div class="col"></div>
  <div class="col-10 table-wrapper-scroll-y my-custom-scrollbar">
    <table id="r4" class="table table-bordered table-striped mb-0"></table>
    <!-- Responses to Q4  -->
  </div>
  <div class="col">&nbsp;</div>
</div>

<div>
  <h3 id="q5"></h3>
  <!-- Question 5 -->
  <p>
    <small><i>(<span id="ct5"></span> answers)</i></small>
  </p>
  <div class="col"></div>
  <div class="col-10 table-wrapper-scroll-y my-custom-scrollbar">
    <table id="r5" class="table table-bordered table-striped mb-0"></table>
    <!-- Responses to Q5  -->
  </div>
  <div class="col">&nbsp;</div>
</div>

<div>
  <h3 id="q6"></h3>
  <!-- Question -->
  <p>
    <small><i>(<span id="ct6"></span> answers)</i></small>
  </p>
  <div class="col">&nbsp;</div>
  <div class="col-10">
    <canvas id="r6" style="max-width: 500px"></canvas>
    <!-- Responses to Q6  -->
  </div>
  <div class="col">&nbsp;</div>
</div>

<div>
  <h3 id="q7"></h3>
  <!-- Question -->
  <p>
    <small><i>(<span id="ct7"></span> answers)</i></small>
  </p>
  <div class="col">&nbsp;</div>
  <div class="col-10">
    <canvas id="r7" style="max-width: 500px"></canvas>
    <!-- Responses to Q7  -->
  </div>
  <div class="col">&nbsp;</div>
</div>

<div>
  <h3 id="q8"></h3>
  <!-- Question -->
  <p>
    <small><i>(<span id="ct8"></span> answers)</i></small>
  </p>
  <div class="col">&nbsp;</div>
  <div class="col-10">
    <canvas id="r8" style="max-width: 500px"></canvas>
    <!-- Responses to Q8  -->
  </div>
  <div class="col">&nbsp;</div>
</div>

<div>
  <h3 id="q9"></h3>
  <!-- Question -->
  <p>
    <small><i>(<span id="ct9"></span> answers)</i></small>
  </p>
  <div class="col">&nbsp;</div>
  <div class="col-10 table-wrapper-scroll-y my-custom-scrollbar">
    <table id="r9" class="table table-bordered table-striped mb-0"></table>
    <!-- Responses to Q9  -->
  </div>
  <div class="col">&nbsp;</div>
</div>

<div>
  <h3 id="q10"></h3>
  <p>
    <small><i>(<span id="ct10"></span> answers)</i></small>
  </p>
  <div class="col">&nbsp;</div>
  <div class="col-10 table-wrapper-scroll-y my-custom-scrollbar">
    <table id="r10" class="table table-bordered table-striped mb-0"></table>
    <!-- Responses to Q10 -->
  </div>
  <div class="col">&nbsp;</div>
</div>
