<style>
  .survey-block {
    margin: 1.5rem 0;
    border: 1px dotted orangered;
  }

  .survey-block > h3 {
    margin-bottom: 0.25rem;
  }

  .survey-block > p {
    margin-bottom: 0.5rem;
  }

  .survey-block__charts {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-top: 0;
    border: 3px solid hotpink;
  }

  .survey-block__chart {
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid blue;
  }

  .survey-block__chart-title {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  .survey-block__chart-canvas {
    position: relative;
    width: 700px;
    height: 250px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid green;
  }

  .survey-block__chart-canvas canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }

  .table-wrapper-scroll-y {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .table-wrapper-scroll-y table {
    width: 100%;
    table-layout: fixed;
  }

  .table-wrapper-scroll-y td {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
  }
</style>

<!-- This section gets built automatically by makeAQuestion() in app.js -->
<!-- Q1 -->
<div class="survey-block">
  <!-- #1 -->
  <h3 id="q1"></h3>
  <p>
    <small
      ><i>(<span id="ct1"></span> responses)</i></small
    >
  </p>

  <div class="survey-block__charts">
    <div class="survey-block__chart">
      <div id="r1-title" class="survey-block__chart-title"></div>
      <div class="survey-block__chart-canvas">
        <canvas id="r1"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- Q2 -->
<div class="survey-block">
  <!-- Original #2 -->
  <h3 id="q2"></h3>
  <!-- Question -->
  <p>
    <small
      ><i>(<span id="ct2"></span> responses)</i></small
    >
  </p>
  <div class="survey-block__charts">
    <div class="survey-block__chart">
      <div id="r2a-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r2a"></canvas>
      </div>
    </div>
    <div class="survey-block__chart">
      <div id="r2b-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r2b"></canvas>
      </div>
    </div>
    <div class="survey-block__chart">
      <div id="r2c-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r2c"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- Q3 -->
<div class="survey-block">
  <h3 id="q3"></h3>
  <!-- Question -->
  <p>
    <small
      ><i>(<span id="ct3"></span> responses)</i></small
    >
  </p>
  <div class="survey-block__charts">
    <div class="survey-block__chart">
      <div id="r3a-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r3a"></canvas>
      </div>
    </div>
    <div class="survey-block__chart">
      <div id="r3b-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r3b"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- Question 4 -->
<div class="survey-block">
  <h3 id="q4"></h3>
  <p>
    <small
      ><i>(<span id="ct4"></span> responses)</i>
    </small>
  </p>
  <div class="col-10 table-wrapper-scroll-y my-custom-scrollbar">
    <table id="r4" class="table table-bordered table-striped mb-0"></table>
    <!-- Responses to Q4  -->
  </div>
  <div class="col">
    <small><i>Scroll to see more responses...</i></small>
  </div>
</div>

<!-- Question 5 -->
<div class="survey-block">
  <h3 id="q5"></h3>
  <p>
    <small
      ><i>(<span id="ct5"></span> responses)</i></small
    >
  </p>
  <div class="survey-block__charts">
    <div class="survey-block__chart">
      <div id="r5a-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r5a"></canvas>
      </div>
    </div>
    <div class="survey-block__chart">
      <div id="r5b-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r5b"></canvas>
      </div>
    </div>
    <div class="survey-block__chart">
      <div id="r5c-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r5c"></canvas>
      </div>
    </div>
    <div class="survey-block__chart">
      <div id="r5d-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r5d"></canvas>
      </div>
    </div>
    <div class="survey-block__chart">
      <div id="r5e-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r5e"></canvas>
      </div>
    </div>
    <div class="survey-block__chart">
      <div id="r5f-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r5f"></canvas>
      </div>
    </div>
    <div class="survey-block__chart">
      <div id="r5g-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r5g"></canvas>
      </div>
    </div>
    <div class="survey-block__chart">
      <div id="r5h-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r5h"></canvas>
      </div>
    </div>
    <div class="survey-block__chart">
      <div id="r5i-title" class="survey-block__chart-title"></div>

      <div class="survey-block__chart-canvas">
        <canvas id="r5i"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- Question 6 -->
<div class="survey-block">
  <h3 id="q6"></h3>
  <p>
    <small
      ><i>(<span id="ct6"></span> responses)</i>
    </small>
  </p>
  <div class="col-10 table-wrapper-scroll-y my-custom-scrollbar">
    <table id="r6" class="table table-bordered table-striped mb-0"></table>
    <!-- Responses to Q4  -->
  </div>
  <div class="col">
    <small><i>Scroll to see more responses...</i></small>
  </div>
</div>

<!-- Question 7 
<div class="survey-block">
  <h3 id="q7a"></h3>
  <!-- Question 
  <p>
    <small
      ><i>(<span id="ct7a"></span> responses)</i></small
    >
  </p>
  <div class="col">&nbsp;</div>
  <div class="col-10">
    <canvas id="r7a" style="max-width: 500px"></canvas>
    <!-- Responses to Q7  
  </div>
  <div class="col">&nbsp;</div>
</div>
-->
<div class="survey-block">
  <h3 id="q8"></h3>
  <!-- Question -->
  <p>
    <small
      ><i>(<span id="ct8"></span> responses)</i></small
    >
  </p>
  <div class="col">&nbsp;</div>
  <div class="col-10">
    <canvas id="r8" style="max-width: 500px"></canvas>
    <!-- Responses to Q8  -->
  </div>
  <div class="col">&nbsp;</div>
</div>

<div class="survey-block">
  <h3 id="q9"></h3>
  <!-- Question -->
  <p>
    <small
      ><i>(<span id="ct9"></span> responses)</i></small
    >
  </p>
  <div class="col">&nbsp;</div>
  <div class="col-10 table-wrapper-scroll-y my-custom-scrollbar">
    <table id="r9" class="table table-bordered table-striped mb-0"></table>
    <!-- Responses to Q9  -->
  </div>
  <div class="col">&nbsp;</div>
</div>

<div class="survey-block">
  <h3 id="q10"></h3>
  <p>
    <small
      ><i>(<span id="ct10"></span> responses)</i></small
    >
  </p>
  <div class="col">&nbsp;</div>
  <div class="col-10 table-wrapper-scroll-y my-custom-scrollbar">
    <table id="r10" class="table table-bordered table-striped mb-0"></table>
    <!-- Responses to Q10 -->
  </div>
  <div class="col">&nbsp;</div>
</div>
