<style>
  .survey-block {
    margin: 1.5rem 0;
    {{/*  border: 1px dotted orangered;  */}}
  }

  .survey-block > h3 {
    margin-bottom: 0.25rem;
  }

  .survey-block > p {
    margin-bottom: 0.5rem;
  }

  .survey-block__charts {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-top: 0;
    {{/*  border: 3px solid hotpink;  */}}
  }

  .survey-block__chart {
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    {{/*  border: 1px solid blue;  */}}
  }

  .survey-block__chart-title {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  .survey-block__chart-canvas {
    position: relative;
    width: 700px;
    height: 250px;
    max-width: 100%;
    margin: 0 auto;
    {{/*  border: 1px solid green;  */}}
  }

  .survey-block__chart-canvas canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }

  .table-wrapper-scroll-y {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .table-wrapper-scroll-y table {
    width: 100%;
    table-layout: fixed;
  }

  .table-wrapper-scroll-y td {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
  }
</style>

<!-- This section gets built automatically by makeAQuestion() in app.js -->
